.odd {
    background-color: #FFB6C1;
    font-family: 'Verdana','DejaVu Sans',sans-serif;



}
.odd.add{
    font-size: 24px;
}
#sec{
    color: #0000ff;
    font-size: 36px;
}
#four{


    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}