body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 7px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin: 7px;
  padding: 22px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 7px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 2px;
}